<div aria-hidden="true">
	<a href="/" style="position:absolute; top:-999em">Link</a>
</div>

<div aria-hidden="true">
	<input aria-disabled="true" />
</div>

<div aria-hidden="true">
    <div aria-hidden="false">
        <button>Some button</button>
    </div>
</div>

<p tabindex="0" aria-hidden="true">Some text</p>

<details aria-hidden="true">
    <summary>Some button</summary>
    <p>Some details</p>
</details>