<list>
  <for of=[1, 2, 3]>
    <@item size="small"/>
          // ^?
  </for>
  <for of=[1, 2, 3]>
    <@item size="small"/>
          // ^?
    <@item size="huge"/>
          // ^?
  </for>
</list>
