<map name="Map">
  <area shape="rect" href="image-map">
</map>

<img src="source">

<a href="ebay.com">
  <img src="ebay-logo.png" alt="eBay">
  eBay
</a>

<input type="image">

<object id="object"></object>

<div role="img"></div>

<svg role="img"></svg>

<img alt:no-update="test" />