<div title="banner 1" role="banner"/>
<div title="banner 2" role="banner"/>

<div title="contentinfo 1" role="contentinfo"/>
<div title="contentinfo 2" role="contentinfo"/>

<div title="main 1" role="main"/>
<div title="main 2" role="main"/>
