<const/value = "hi"/>

<div#test/>
<div#test-${value}/>
<div#${value}-test/>
<div#${value}-test-${value}/>

<div.test/>
<div.hello.world/>
<div.test-${value}/>
<div.${value}-test/>
<div.${value}-test-${value}/>

<test-tag#test/>
<test-tag#test-${value}/>
<test-tag#${value}-test/>
<test-tag#${value}-test-${value}/>

<test-tag.test/>
<test-tag.hello.world/>
<test-tag.test-${value}/>
<test-tag.${value}-test/>
<test-tag.${value}-test-${value}/>
