<let/list=[{
  value: 1
}, {
  value: 2
}, {
  value: 3
}] as const/>

<for of=list>
  Repeated!
</for>

<for|item, index, all| of=list>
  ${item} ${index} ${all}
//  ^?      ^?       ^?
</for>

<for of=list by=(item, index) => `${item}-${index}`>
//               ^?    ^?
</for>

<for|item| of=list>
  <const/hoistedFromForOf = () => item.value/>
</for>

<for|item| of=list></for>

<effect() {
  hoistedFromForOf;
//^?
}/>

<let/record={ a: 1, b: 2 } as const/>

<for|key, value| in=record>
  ${key} ${value}
//  ^?     ^?
</for>

<for in=record by=(value, key) => `${value}-${key}`>
//                 ^?     ^?
</for>

<for|key| in=record>
  <const/hoistedFromForIn = () => key/>
</for>

<effect() {
  hoistedFromForIn;
//^?
}/>

<for|index| to=10>
  ${index}
//  ^?
</for>

<for to=10 by=(index) => `${index}`>
//             ^?
</for>

<for|index| from=1 to=10>
  ${index}
//  ^?
</for>

<for|index| to=10 step=2>
  ${index}
//  ^?
</for>

<for|index| to=10>
  <const/hoistedFromForTo = () => index/>
</for>

<effect() {
  hoistedFromForUntil;
//^?
}/>

<for|index| until=10>
  ${index}
//  ^?
</for>

<for until=10 by=(index) => `${index}`>
//             ^?
</for>

<for|index| from=1 until=10>
  ${index}
//  ^?
</for>

<for|index| until=10 step=2>
  ${index}
//  ^?
</for>

<for|index| until=10>
  <const/hoistedFromForUntil = () => index/>
</for>

<effect() {
  hoistedFromForUntil;
//^?
}/>


<for|index|>
  Should error
</for>
