export interface Input<T = string> {
//                     ^?
  options: T[];
//         ^?
  onChange: (option: T) => unknown;
//                   ^?
}

-- ${input.options}
//         ^?
-- ${input.onChange}
//         ^?
