const/x=/* pre */ 1 /* post */
div cast=/** @type {Foo} */ (bar)
div pure=/* @__PURE__ */ fn() next=1
div bound:=/* c */ value
div .../* c */ attrs
div [a=/* c */ 1 b=2]
div line=// c
  span
div empty=/* c */
div empty=/* c */ -- text
