tag a = function (x) { console.log("y") } b
tag a = (x) => { console.log("y") } b
tag a = x => { console.log("y") } b
tag a = async x => { console.log("y") } b
tag a = async function (x) { console.log("y") } b