a=x .y a
a=x !y a
a=x *y a
a=x /y a
a=x **y a
a=x %y a
a=x &y a
a=x &&y a
a=x ^y a
a=x ~y a
a=x |y a
a=x ||y a
a=x ??y a
a=x ?y :z a
a=x ==y a
a=x ===y a
a=x !=y a
a=x !==y a
a=x <=y a
a=x >=y a
a=x &=y a
a=x &&=y a
a=x |=y a
a=x ||=y a
a=x ^=y a
a=x ~=y a
a=x >>=y a
a=x >>>=y a
a=x -=y a
a=x /=y a
a=x *=y a
a=x **=y a
a=x %=y a
a=x +=y a
a=x++ +y a
a=x+ ++y a
a=x >y a
a=x >>y a
a=x >>>y a
a=x (y ) a
a=x {y } a
a=x =>y a
a=x => (y ) a
a=x => {y } a
a=( x ) {y } a

<a=x .y a/>
<a=x !y a/>
<a=x *y a/>
<a=x /y a/>
<a=x **y a/>
<a=x %y a/>
<a=x &y a/>
<a=x &&y a/>
<a=x ^y a/>
<a=x ~y a/>
<a=x |y a/>
<a=x ||y a/>
<a=x ??y a/>
<a=x ?y :z a/>
<a=x ==y a/>
<a=x ===y a/>
<a=x !=y a/>
<a=x !==y a/>
<a=x <=y a/>
<a=x >=y a/>
<a=x &=y a/>
<a=x &&=y a/>
<a=x |=y a/>
<a=x ||=y a/>
<a=x ^=y a/>
<a=x ~=y a/>
<a=x >>=y a/>
<a=x >>>=y a/>
<a=x -=y a/>
<a=x /=y a/>
<a=x *=y a/>
<a=x **=y a/>
<a=x %=y a/>
<a=x +=y a/>
<a=x++ +y a/>
<a=x+ ++y a/>
<a=x >y </a>
<a=x >>y a/>
<a=x >>>y a/>
<a=x (y ) a/>
<a=x {y } a/>
<a=x =>y a/>
<a=x => (y ) a/>
<a=x => {y } a/>
<a=( x ) {y } a/>
