<button async onClick() {}/>

<button async onClick(event) {
  await save(event);
}/>

<button async onClick<T>(event: T) {
  await save(event);
}/>

<button
  async
  onClick() {}
/>

button async onClick() {}

button async onClick(event) {
  await save(event);
}

<a async b() {} async c() {}/>

<foo async (event) {
  await save(event);
}/>

<foo async(event) {}/>

<foo async<T>(a: T) {}/>

<foo async <T>(a: T) {}/>

foo async (event) {
  await save(event);
}

foo async(event) {}

<button async onClick(value = ")") { await save() }/>

<button async onClick(v = `a${ ")" }b`) { await save() }/>

<button async onClick(v = /\)/) { await save() }/>

<button async onClick(v /* ) */ = 1) { await save() }/>

<button async onClick<T extends ")">(v: T) { await save() }/>
