<script async src="x"/>

<div async/>

<div async>hi</div>

<div async=true/>

<div async foo bar/>

<div async foo(1)/>

<div async foo=1/>

<div async ...spread/>

<div async:mod onClick() {}/>

<div asyncfoo onClick() {}/>

<foo async(1)/>

<foo async (1)/>

<foo async<T> />

div [
  async
  onClick() {}
]
