<foo<A>|data: A|>
  hi
</>

<foo<A> |data: A|>
  hi
</>

<foo <A>|data: A|>
  hi
</>

<foo <A> |data: A|>
  hi
</>

<foo<A, B = string>|data: A & B|>
  hi
</>

<foo<A, B = string> |data: A & B|>
  hi
</>

<foo <A, B = string>|data: A & B|>
  hi
</>

<foo <A, B = string> |data: A & B|>
  hi
</>
