<const/x=/* pre */ 1 /* post */ />
<div cast=/** @type {Foo} */ (bar)/>
<div pure=/* @__PURE__ */ fn() next=1/>
<div bound:=/* c */ value/>
<div .../* c */ attrs/>
<div a=/* a */ /* b */ 1 b=2/>
<div
  line=// c
    1
  next=2/>
