style {
  @import url("https://unpkg.com/todomvc-app-css@2.2.0/index.css");
}

<div.todoapp>
  <todomvc-footer remaining-count=5 completed-count=10 filter="all"/>
</div>
<div.todoapp>
  <todomvc-footer remaining-count=20 completed-count=4 filter="completed"/>
</div>
