static const todos = [
  {
    title: "Learn marko",
    completed: true,
    id: 0
  },
  {
    title: "Build an awesome web app",
    completed: false,
    id: 1
  },
  {
    title: "Profit",
    completed: false,
    id: 2
  }
];

style {
  @import url("https://unpkg.com/todomvc-app-css@2.2.0/index.css");
}

<todomvc-main todos=todos/>
