import todoApp from '../../pages/app.js'

class {
  handleFormSubmit(event) {
    const titleInput = this.getEl("new-todo");
    const todoTitle = titleInput.value;

    todoApp.addNewTodo({
      title: todoTitle
    });

    titleInput.value = "";
    event.preventDefault();
  }
}

style {
  .header form {
    margin: 0;
  }
}

<header.header>
  <h1>todos</h1>
  <form on-submit("handleFormSubmit")>
    <input.new-todo key="new-todo" placeholder="What needs to be done?"/>
  </form>
</header>
