import logoUrl from "./logo.png";

style {
  header {
    font-size: 2em;
    font-weight: 300;
    background-color: #f1f1f1;
    padding: 38px 10px;
    text-align: center;
  }
  body {
    font-family: "Helvetica Neue", Roboto, "Arial Nova", "Segoe UI", Arial,
      sans-serif;
    margin: 0 auto;
  }
  .logo {
    height: 2.2em;
  }
}

<header>
  <img src=logoUrl class="logo"/>
  <div>${input.title}</div>
</header>
