static {
  var todos = [
    {
      title: "Learn marko",
      completed: true,
      id: 0
    },
    {
      title: "Build an awesome web app",
      completed: false,
      id: 1
    },
    {
      title: "Profit",
      completed: false,
      id: 2
    }
  ];
}

<todomvc-app todos=todos filter="all"/>
