style {
  @import url("https://unpkg.com/todomvc-app-css@2.2.0/index.css");
}

<section.main>
  <ul.todo-list>
    <todomvc-todo-item title="Learn Marko" completed=false id="fake1"/>
    <todomvc-todo-item title="Learn Marko" completed=true id="fake2"/>
  </ul>
</section>
