<${foo}/someVar>
</>

<let/foo/>
<let/foo=1/>
<let/foo = 1/>
<let/foo + 1/>
<let/foo:string/>
<let/foo : string/>
<let/foo: typeof bar extends y ? a : b x=2/>
<let/{ x, y }/>

<const/fn:any() {
  console.log("hi");
}/>

<button/loginButton>
  login
</>
<button/loginButton >
  login
</>

<div/ref/>
<div/ref />

<div#ab.cd/ref/>
