<div data-foo="foo" data-bar="bar" data-hello="hello" data-world="world" class="my-class" data-widget="my-really-awesome-widget">
    <div data-foo="foo" data-bar="bar" data-hello="hello" data-world="world" class="my-class" data-widget="my-really-awesome-widget">
        Hello World
    </div>
</div>