class {
  onCreate() {
    this.state = { count: 0 };
  }
  increment(delta) {
    this.state.count += delta;
  }
}

$ var count = state.count;

div.click-count
  div.count class={
    positive: count > 0,
    negative: count < 0,
  } -- ${count}
  button on-click("increment", -1) -- -1
  button on-click("increment", 1) -- +1
