static function getAnchorName(section) {
  if (!section.anchorName) {
    section.anchorName = section.title.replace(/[^a-zA-Z]+/g, '-');
  }

  return section.anchorName;
}

static function sum(a, b) {
    return a + b;
};

<div>${sum(1, 2)}</div>

<div class="app-sections">
  <div class="tableOfContents">
    <ul>
      <li for(section in data.sections)>
        <a href="#${getAnchorName(section)}">${section.title}</a>
      </li>
    </ul>
  </div>
  <div class="sections-ctr">
    <div class="section" for(section in data.sections)>
      <h2 id=getAnchorName(section)>${section.title}</h2>
      <div class="section-body">
        <include(section)/>
      </div>
    </div>
  </div>
</div>
