<tag|input: (Marko.HTML.A | Marko.HTML.Button)|/>
<tag|a: string, b: (A | B)|/>
<tag|{ a }: (A | B)|/>
<tag|fn: (a: string) => (A | B)|/>
<tag|input: (A & B)|/>
<tag|input: (Marko.Component.Input.LongNameA | Marko.Component.Input.LongNameB | Marko.Component.Input.LongNameC)|/>
