class {
  onCreate() {
    this.state = {
      count: 0,
    };
  }
  increment() {
    this.state.count++;
  }
}

<div>The current count is ${state.count}</div>
<button on-click("increment")>+1</button>
