app-markdown
    ---
    ```xml
    <!DOCTYPE html>
    html lang="en"
        head
            <title>Marko Templating Engine</title>
        body
            <h1>
                Hello ${data.name}!
            </h1>
            ul if(notEmpty(data.colors))
                li for(color in data.colors)
                    ${color}
            div else
                - No colors!
    ```
    ---
