div class="hello"
    // This is a line comment
    -- <span>Welcome to <b>Marko</b></span>
    -- Foo
    <!--
    This is a multiline HTML comment
      This is indented further
    Line 3
    -->
    -- Bar
    <!-- This is another comment -->
    -- Test
    <!-- This
    is an odd comment -->
    ---
    Hello <!-- This is an inline comment --> World
    ---
