style {
  @import "./thing.css";
  body {
    color: blue;
  }
}

style.less {
  @import "./thing.css";
  body {
    &nested {
      color: blue;
    }
  }
}

<style>
  @import "./thing.css";
  body {
    color: blue;
  }
</style>

<style.less>
  @import "./thing.css";
  body {
    &nested {
      color: blue;
    }
  }
</style>

style.unknown {
  foo;
  bar
}
