<html-script type="module">console.log("hello");</html-script>

<html-script type="text/javascript">console.log("world");</html-script>

<html-script type="application/javascript">console.log("foo");</html-script>
