<div
    style={
                        "background-color": imageCreative.contentBackgroundColor
                    }>
<div
    class="test"
    style={
                        "background-color": imageCreative.contentBackgroundColor
                    }>
<div
    class="test"
    style={
                        "background-color": imageCreative.contentBackgroundColor
                    }>
<div
    style={
                        "background-color": imageCreative.contentBackgroundColor
                    }/>
</div>
</div>
</div>