<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marko Templating Engine</title>
    </head>
    <body>
        <h1 class="super-duper-long__class-name">Hello ${data.name}!</h1>
        <h2 class="super-duper-long__class-name" data-test="test attribute data" data-more="more attribute data" style="display: inline;">Hello ${data.name}!</h2>
    </body>
</html>
