<if(thisPerson.address && thisPerson.phone && thisPerson.age && thisPerson.nationality)>
  <person-card
    address=thisPerson.address
    phone=thisPerson.phone
    age=thisPerson.age
  />
</if>

<if(
  thisPerson.address &&
  thisPerson.phone &&
  thisPerson.age &&
  thisPerson.nationality,
)>
  <person-card
    address=thisPerson.address
    phone=thisPerson.phone
    age=thisPerson.age
  />
</if>
