<div.string class="blue"/>
<div.string_list class=["blue"]/>

<div.templatestring class=`${blue}`/>
<div.templatestring_list class=[`${blue}`]/>

<div.dynamic class=blue/>
<div.dynamic_list class=[blue]/>

<div.mixed_list class=["red", blue, "green", yellow]/>
<div.long_list class=[
  red,
  yellow,
  (() => "blue")(),
  orange,
  ...colorList.map((item) => item.color),
  green,
]/>
<div.long_item class=(
  ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
    .filter((color) => color.indexOf("e") >= 0)
    .map((color) => color.toUpperCase())
)/>

<div.multiple class=["red"] class="blue"/>
<div.multiple class="red" class=["blue"]/>

<div.multiple class={ blue: maybeBlue }/>
