static const x: number = 3 as const;
static function xPlus(val: number) {
  return x + val;
}
static let xMap = new Map<string, number>();

$ const y: number = 3 as const;
$ function yPlus(val: number) {
  return x + val;
}
$ let yMap = new Map<string, number>();
