div
  -- ${input.text}${" "}
  div

div
  div
  -- ${" "}
  div

div
  span
    span -- A
    -- ${" "}
  -- ${" "}
  span
    span -- B
  -- ${" "}
  span
    span -- C
  -- ${" "}

div -- ${" "}${input.text}
-- ${" "}
