<foo<A>(event: A){
  console.log(event.type)
}/>

<foo<A> (event: A){
  console.log(event.type)
}/>

<foo <A>(event: A){
  console.log(event.type)
}/>

<foo <A> (event: A){
  console.log(event.type)
}/>

<foo<A, B = string>(event: A & B){
  console.log(event.type)
}/>

<foo<A, B = string> (event: A & B){
  console.log(event.type)
}/>

<foo <A, B = string>(event: A & B){
  console.log(event.type)
}/>

<foo <A, B = string> (event: A & B){
  console.log(event.type)
}/>
