div, class="a", id="c"

div,
    class="a",
    id="c"

div , class="a", id="c"

div ,
    class="a",
    id="c"

div
    ,class="a"
    ,id="c"

<div, class="a", id="c"/>

<div,
    class="a",
    id="c"/>

<div , class="a", id="c"/>

<div ,
    class="a",
    id="c"/>

<div
    ,class="a"
    ,id="c"/>
