<div>
     // This is a comment
     This is some real text
     /* But this is a comment */
     And this is more text
     <!-- and this is a comment -->
     But this, this is not a http://comment.com
     And yet this is a //comment
     And also /* this is a comment */
     Because a//comment must be preceded by whitespace.
</div>
