<foo<A>>
  hi
</>

<foo<A> >
  hi
</>

<foo<A, B = string>>
  hi
</>

<foo<A, B = string> >
  hi
</>

<foo<A>(bar)>
  hi
</>

<foo<A> (bar)>
  hi
</>

<foo<A, B = string>(bar)>
  hi
</>

<foo<A, B = string> (bar)>
  hi
</>


<foo<A> (bar) {
  
}>
  hi
</>

<foo <A> (bar) {
  
}>
  hi
</>

<foo <A>(bar) {
  
}>
  hi
</>
