a= await
y a
a= new
y a
a= void
y a
a= typeof
y a
a= class
Y {} a
a=x .
y a
a=x !
y a
a=x *
y a
a=x /
y a
a=x **
y a
a=x %
y a
a=x &
y a
a=x &&
y a
a=x ^
y a
a=x ~
y a
a=x |
y a
a=x ||
y a
a=x ??
y a
a=x ?
y :
z a
a=x ==
y a
a=x ===
y a
a=x !=
y a
a=x !==
y a
a=x <=
y a
a=x >=
y a
a=x &=
y a
a=x &&=
y a
a=x |=
y a
a=x ||=
y a
a=x ^=
y a
a=x ~=
y a
a=x >>=
y a
a=x >>>=
y a
a=x -=
y a
a=x /=
y a
a=x *=
y a
a=x **=
y a
a=x %=
y a
a=x +=
y a
a=x ++ +
y a
a=x +
++ y a
a=x >>
y a
a=x >>>
y a
a=x =>
y a
a=x =>
( y ) a
a= (x) =>
{ console.log("y") } a
a= async
x =>
{ console.log("y") }
a
a= function
(x) { console.log("y") }
a
a= x =>
{ console.log("y") }
a
a= async
function
(x) { console.log("y") }
a

<a= await
y a/>
<a= new
y a/>
<a= void
y a/>
<a= typeof
y a/>
<a= class
Y
{} a/>
<a=x .
y a/>
<a=x !
y a/>
<a=x *
y a/>
<a=x /
y a/>
<a=x **
y a/>
<a=x %
y a/>
<a=x &
y a/>
<a=x &&
y a/>
<a=x ^
y a/>
<a=x ~
y a/>
<a=x |
y a/>
<a=x ||
y a/>
<a=x ??
y a/>
<a=x ?
y :
z a/>
<a=x ==
y a/>
<a=x ===
y a/>
<a=x !=
y a/>
<a=x !==
y a/>
<a=x <=
y a/>
<a=x >=
y </a>
<a=x &=
y a/>
<a=x &&=
y a/>
<a=x |=
y a/>
<a=x ||=
y a/>
<a=x ^=
y a/>
<a=x ~=
y a/>
<a=x >>=
y </a>
<a=x >>>=
y </a>
<a=x -=
y a/>
<a=x /=
y a/>
<a=x *=
y a/>
<a=x **=
y a/>
<a=x %=
y a/>
<a=x +=
y a/>
<a=x ++ +
y a/>
<a=x +
++ y a/>
<a=x >>
y </a>
<a=x >>>
y </a>
<a=x
( y ) a/>
<a=x
{ y } a/>
<a=x
=>
y a/>
<a=x
=>
( y ) a/>
<a=x
=>
{ y } a/>
<a=( x )
{ y } a/>
<a= (x)
=>
{ console.log("y") } a/>
<a= async
x
=>
{ console.log("y") }
a/>
<a= function
(x)
{ console.log("y") }
a/>
<a= x
=>
{ console.log("y") }
a/>
<a= async
function
(x)
{ console.log("y") }
a/>