a=x ! y
a=x * y
a=x ** y
a=x % y
a=x & y
a=x && y
a=x ^ y
a=x ~ y
a=x | y
a=x || y
a=x ?? y
a=x ? y : z
a=x == y
a=x === y
a=x != y
a=x !== y
a=x <= y
a=x >= y
a=x &= y
a=x &&= y
a=x |= y
a=x ||= y
a=x ^= y
a=x ~= y
a=x >>= y
a=x >>>= y
a=x -= y
a=x /= y
a=x *= y
a=x **= y
a=x %= y
a=x += y
a=x . y
a=x in;
a=x in y
a=x in=y
a=x in, y
a=x instanceof y
a=x++ +y
a=x+ ++y
<a=x-- -y/>
<a=x- --y/>
a=x > y
a=x >> y
a=x >>> y
<a=x > y</>
<a=x >> y/>
<a=x >>> y/>
a=x ( y )
a=z { y }
<a=x [ y ]/>
a=x => y z
a=x => ( y ) z
a=x => { y } z
a=( x ) { y } z