<div /* after the name */ class="box">x</div>
<div
  // why the attrs
  class="box"/>
<input hidden // after a name-only attr
  type="text">
<a href="/" // follows a value, so part of it
  title="home"/>
